.App {
  text-align: center;
  padding: 20px;
}

/* button {
  padding: 8px;
  border: none;
  outline: 3px solid cornflowerblue;
  font-size: 20px;
  background-color: transparent;
  transition: 0.25s;
}
button:hover {
  cursor: pointer;
  outline-offset: 3px;
  background-color: cornflowerblue;
  color: white;
} */
